<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (newPost)="onNewPost($event)"></app-post-form>
<h2>
  clients
</h2>

<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h3>{{  post.name  }}</h3>
    <p>{{ post.email }}</p>
    <hr>
    <button (click)="removePost(post)" class="btn btn-danger">
      <i class="fa fa-remove"></i>
    </button>
    <button (click)="editPost(post)" class="btn btn-light">
      <i class="fa fa-pencil"></i>
    </button>
  </div>
</div>